@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* globall */
button {
  box-shadow: inset 57px 47px 90px -55px rgba(0, 0, 0, 0.889);
  transition: 0.4s;
  cursor: pointer;
  background-color: white;
  font-size: 0.8em;

}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.25em;
  margin: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 0.875em;
  margin: 0;

}

h5 {
  font-size: 0.75em;
  margin: 0;
}

h6 {
  font-size: 0.625em;
  margin: 0;
}

p {
  margin: 0;
  line-height: 17px;
}


.link {
  box-shadow: inset 67px 47px 90px -55px rgb(0, 0, 0);
  transition: 0.4s;
  cursor: pointer;
  background-color: white;
  font-size: 0.9em;
}

:root {
  --main_title: #000000;
  --main_title_backgr: rgba(0, 0, 0, 0.244);
  --yellowGreen: rgb(106, 255, 0);
  --yellowGreenLow: rgba(108, 255, 4, 0.675);
  --whiteTextColor: rgb(208, 208, 208);
  --silverContent: rgb(78, 78, 78);
  --silverInputBacgColor: rgb(192, 192, 192);
  --buttonColor: rgb(222, 222, 222);
  --closeButtonColor: rgb(255, 255, 255);
  --colorFontRed: rgb(221, 0, 0);
  --orangeContent: rgb(201, 46, 15);
  --yellowContent: rgb(155, 210, 14);
  --silverTransparentCont: rgba(141, 141, 141, 0.378);
  --bacgroundTransparentCont: rgba(0, 0, 0, 0.381);
}

.app {
  width: 100%;
  min-width: 1550px;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;

}

/* scrool bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #35353500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* auto doplnanie pre input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 0px 1000px rgba(173, 173, 173, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}