.control-box .controlInput {
    width: 100%;
    height: 40%;
  }
  
  .control-box .controlInput .stEnd {
    width: 100%;
  }
  
  .control-box .controlInput .sideways_box {
    width: 80%;
  }
  
 