.offCanvasBox{
    width: 100%;
    height: 100%;
}
.offCanvasBox .offCanvasButtonBox{
    width: 100%;
    height: 100%;
}
button {
    width: 140px;
    height: 33px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: white;
}
button:hover {
    background-color: var(--yellowGreen);
    color: black;
}
