.offCanvasBox {
    width: 100%;
    height: 100%;
}

.offCanvasBox .offCanvasButtonBox {
    width: 100%;
    height: 100%;
}

.offCanvasBox .offCanvasButtonON {
    width: 140px;
    height: 33px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: var(--buttonColor);
}

.offCanvasBox .offCanvasButtonON:hover {
    background-color: var(--yellowGreen);
    color: black;
}

.offCanvasBox .offCanvasButtonOFF {
    width: 140px;
    height: 33px;
    border-radius: 6px;
    background-color: var(--silverContent);
    color: var(--closeButtonColor);
}

.offCanvasBox .offCanvasButtonOFF:hover {
    background-color: red;
    color: black;
}