.road_DIVIDER_detail_OTR {
    width: 100%;
    height: 660px;
    max-height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 5px;
    background-color: var(--silverTransparentCont);
    overflow: hidden;
    position: relative;
    gap: 2%;
    border-radius: 20px;
}

.road_DIVIDER_detail_OTR .direction_box {
    order: 0;
    width: 100%;
    height: 84.3%;
    transition: 0.4s;

}

.road_DIVIDER_detail_OTR .direction_box_deactive {
    order: 1;
    width: 100%;
    height: 14%;

}