.header {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--yellowGreen);
}

.header .headerBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header .headerBox .headerbottonBox {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .headerBox .headerbottonBox>button {
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-radius: 8px;
    background-color: var(--silverContent);
    color: white;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0.6;
}

.header .headerBox .headerbottonBox>button:hover {
    background-color: var(--orangeContent);
    color: rgb(0, 0, 0);
    opacity: 1;
}

.header .headerBox .headerbottonBox>button>span {
    margin-left: 20px;
}

.header .headerBox .headerTittleBox {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.header .headerBox .headerTittleBox>div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;

}

.header .headerBox .headerTittleBox .headerLogo {
    font-family: 'Dancing Script', cursive;
    padding-right: 40px;
    width: 50%;
    min-width: 900px;
}

.header .headerBox .headerTittleBox .headerLogo>h2 {
    color: white;
    font-size: 35px;
}

.header .headerBox .headerTittleBox .headerLogo>h2 {
    font-size: 35px;
    color: white;
}

.header .headerBox .headerTittleBox .headerLogo>h3 {
    font-size: 35px;
}

.header .headerBox .headerTittleBox .headerLogo>h1 {
    color:white;
}
.header .headerBox .headerTittleBox .headerLogo .faIcon{
    color: var(--orangeContent);
}