.header{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--yellowGreen);
}
.header .headerBox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header .headerBox .headerbottonBox{
    width: 15%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .headerBox .headerTittleBox{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
  font-family: 'Dancing Script', cursive;
}
