.controlAndinfoBox {
    width: 100%;
    height: 100%;
}

.controlAndinfoBox .offCanvasBox_box {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.controlAndinfoBox .offCanvasBox_box .offCanvasBoxTextContent {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    padding: 10px;
    color: white;
    flex-direction: column;
}

.controlAndinfoBox .offCanvasBox_box .offCanvasBoxTextContent .faaa {
    color: var(--orangeContent);
    margin-top: 15px;
}


.controlAndinfoBox .offCanvasBoxCanvas .offCanvasBoxCanvas {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlAndinfoBox .control_detailOfTheRoad_box {
    width: 100%;
    height: 75%;
}