.headerLocName {
    width: 100%;
    height: 100%;
}

.headerLocName .headarLocName_Box {
    width: 100%;
    height: 170px;
    min-height: 150px;
    overflow: hidden;
}

.headerLocName .headarLocName_Box>div {
    width: auto;
    min-height: 27px;
    margin-top: 6px;
    border-radius: 7px;
    z-index: 99;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start
}

.headerLocName .headarLocName_Box>div>h3 {
    margin: 5px 10px;
    color: var(--whiteTextColor);
    font-size: 1em;
}

.headerLocName .headarLocName_Box .addedLocation {
    width: auto;
    height: 70px;
    overflow-y: auto;
    background-color: #97969600;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.headerLocName .headarLocName_Box .addedLocation .addLocation_item {
    background-color: var(--yellowGreenLow);
    margin: 1px;
    border-radius: 2px;
    padding: 2px;
    font-size: 0.9em;
}

.headerLocName .headerButtonBox {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLocName .headerButtonBox .buttonContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.headerLocName .headerButtonBox .buttonContent > div .offActiveButtom {
    width: 100px;
    height: 27px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: white;
}

.headerLocName .headerButtonBox .buttonContent > div .onActiveButtom {
    width: 100px;
    height: 27px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--yellowGreen);
    color: rgb(0, 0, 0);
}


.headerLocName .headerButtonBox .buttonContent > div > button:hover {
    background-color: var(--yellowGreen);
    color: black;
}


.headerLocName .headerButtonBox .buttonContent {

}
