.headerLocName {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .headarLocName_Box {
        width: 100%;
        height: 180px;
        min-height: 180px;
        overflow: hidden;

        & .startEndLocation {
            width: auto;
            min-height: 27px;
            margin-top: 6px;
            border-radius: 7px;
            z-index: 99;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
}

.headerLocName .headarLocName_Box .startEndLocationActive {
    width: auto;
    min-height: 27px;
    margin-top: 6px;
    border-radius: 7px;
    z-index: 99;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgb(57, 57, 57);
}

.headerLocName .headarLocName_Box>div>h3 {
    margin: 5px 10px;
    color: var(--whiteTextColor);
    font-size: 1em;
}

.headerLocName .headarLocName_Box .addedLocation {
    width: auto;
    height: 110px;
    overflow-y: auto;
    background-color: #97969600;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.headerLocName .headarLocName_Box .addedLocation .addLocation_item {
    background-color: var(--yellowGreenLow);
    margin: 3px;
    border-radius: 2px;
    padding: 2px;
    font-size: 0.9em;
}

.headerLocName .headerButtonBox {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLocName .headerButtonBox .buttonContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    padding-right: 150px;
}

.headerLocName .headerButtonBox .buttonContent .incidentsButton .offActiveButtom {
    width: 100px;
    height: 27px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: white;
}

.headerLocName .headerButtonBox .buttonContent .incidentsButton .onActiveButtom {
    width: 100px;
    height: 27px;
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--yellowGreen);
    color: rgb(0, 0, 0);
}


.headerLocName .headerButtonBox .buttonContent .incidentsButton>button:hover {
    background-color: var(--yellowGreen);
    color: black;
}