.onePointContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.onePointContent>form {
    width: 65%;
    height: 100%;
}

.onePointContent>form>div {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.onePointContent>form>div>label {
    font-size: 15px;
    color: var(--whiteTextColor);
}

.onePointContent>form>div>input,
select {
    width: 100%;
    border-radius: 6px;
    height: 27px;
    padding: 0 5px 0 5px;
    background-color: var(--silverInputBacgColor);
    font-weight: bolder;
}

.onePointContent>form>div>select>option {
    background-color: var(--yellowGreenLow);
}

.onePointContent>form .onePointButtonBox {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.onePointContent>form .onePointButtonBox>div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onePointContent>form .onePointButtonBox>div>button {
    width: 90px;
    height: 27px;
}

.onePointContent>form .onePointButtonBox .submitBoxButton>button {
    color: var(--closeButtonColor);
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: var(--buttonColor);
}

.onePointContent>form .onePointButtonBox .submitBoxButton>button:hover {
    background-color: var(--yellowGreen);
    color: black;
}


.onePointContent>form .onePointButtonBox .resetBoxButton>button {
    transition: 0.4s;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--silverContent);
    color: var(--closeButtonColor);
    color: var(--closeButtonColor);
}

.onePointContent>form .onePointButtonBox .resetBoxButton>button:hover {
    background-color: red;
    color: black;
}