.imageLocationBox {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--bacgroundTransparentCont);
    border-radius: 50px;
    border: 1px solid var(--redSolidBorder);
    box-shadow: inset 0px 0px 18px 0px var(--boxShadowColor);

}