.bussinecContent{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bussinecContent .bussinecContent_header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 10px;
}
.bussinecContent .bussinecContent_header > div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bussinecContent .bussinecContent_header .bussinesHeaderLogo{
    width: 20%;
    color: var(--yellowGreen);
}

.bussinecContent .bussinecContent_header .bussinesHeaderName{
    color: var(--whiteTextColor);
    font-size: 12px;
}
