.locationUserData{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-image: url("../../../../public/img/backGround/imageUserIngo2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top 50px;

}
::-webkit-scrollbar {
    width: 0px;
  }

.locationUserData .locationUserDataNavigate{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orangeContent);
    gap: 50px;
}
.locationUserData .locationUserDataNavigate .link{
    width: 300px;
    height: 30px;
    margin: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 18px;

}
.locationUserData .locationUserDataNavigate .link:hover{
    background-color: var(--yellowGreen);
}

.locationUserData .locationUserDataContent{
    width: 100%;
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: center;
}

