.incident_contentsBox {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: black;
}

.incident_contentsBox .inc_cont_header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 4px;
    color: white;
    background-color: black;
}

.incident_contentsBox .inc_cont_header .imgIncBox {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.incident_contentsBox .inc_cont_header .imgIncBox>img {
    width: 40px;
    height: 40px;
}

.incident_contentsBox .inc_cont_header .startIncBox,
.incident_contentsBox .inc_cont_header .endIncBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.incident_contentsBox .inc_cont_header .startIncBox .incBox,
.incident_contentsBox .inc_cont_header .endIncBox .incBox {
    width: 100%;
    font-size: 14px;
    height: 100%;
    font-weight: bold;
    color: var(--colorFontRed);
    display: flex;
    justify-content: center;
    align-items: center;
}

.incident_contentsBox .inc_cont_header .startIncBox  .IncBoxValue,
.incident_contentsBox .inc_cont_header .endIncBox  .IncBoxValue {
    width: 100%;
    height: 100%;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.incident_contentsBox .inc_cont_body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: black;
    color: white;
}

.incident_contentsBox .inc_cont_body>div {
    height: 100%;
    margin-bottom: 2px;
    font-size: 11px
}
.incident_contentsBox .inc_cont_body>div .ImportanceBox {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 15px;
}

.incident_contentsBox .inc_cont_body .block_title {
    width: auto;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 12px;
    color: var(--colorFontRed);
}