 .itemUserSave {
     width: 90%;
     height: 150px;
     min-height: 150px;
     border-radius: 10px;
     border: 1px solid rgb(110, 110, 110);
     cursor: pointer;
     transition: 0.3s;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 .itemUserSave:hover {
     background-color: rgb(34, 34, 34)
 }

 .itemUserSave>div {
     width: 100%;
     height: 100%;
 }

 .itemUserSave .routeNameAndLogo {
     height: 60px;
     border-radius: 8px 8px 0 0;
     display: flex;
     align-items: center;
     justify-content: center;
     color: var(--yellowGreen);
     font-size: 16px;
     flex-direction: row;
     background-color: rgba(135, 135, 135, 0.49);
 }

 .itemUserSave .routeNameAndLogo .routeItemKey {
     width: 60px;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
 }

 .itemUserSave .routeNameAndLogo .routeItemKey .routeKeybox {
     width: 50px;
     height: 50px;
     top: 0;
     left: 0;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .itemUserSave .routeNameAndLogo .routeItemKey .keyItem {
     width: 43px;
     height: 43px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     background-color: rgb(29, 29, 29);
     color: rgb(0, 0, 0);
     z-index: 5;
     transform: scale(1.1);

 }

  .itemUserSave .routeNameAndLogo .routeItemKey .keyItem::after {
     content: "";
     width: 33px;
     height: 33px;
     position: absolute;
     background-color: rgb(255, 255, 255);
     z-index: -1;
     border-radius: 50%;
 } 
 .itemUserSave .routeNameAndLogo .routeItemKey .keyItem::before {
    content: "";
     width: 43px;
     height: 19px;
     position: absolute;
     background-color: rgb(29, 29, 29);
     z-index: -1;
     bottom: -1px;
 }



 .itemUserSave .routeNameAndLogo .routeItemName {
     width: 90%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
 }

 .itemUserSave .routeNameAndLogo .routeItemName .nameLogo {
     width: 100%;
 }

 .itemUserSave .routeNameAndLogo .routeItemName .nameRoute {
     width: 100%;
 }

 /* --------------------------------------------------------- */
 .itemUserSave .itemStartANDEndPoint {
     width: 100%;
     padding: 5px;
     padding-left: 80px;
     font-size: 14px;
     display: flex;
     align-items: center;
     justify-content: start;
     flex-direction: row;
     gap: 10px;
     height: 50px;
     background-color: rgb(29, 29, 29);
 }
 .itemUserSave .itemStartANDEndPoint .itemStartEndLogo{
    color: rgb(204, 248, 8);
 }
 .itemUserSave .itemStartANDEndPoint .itemStartEndName{
    color: white;
 }
 /* --------------------------------------------------------- */
 .itemUserSave .itemEventBlock {
    display: flex;
    align-items: center;
    justify-content: center;
 }
